
streamlit
streamlit-chat
chromadb
openai
anthropic
langchain
langchain-openai
langchain_core
langchain_community
pandas
numpy
requests
pydantic
loguru
rapidfuzz
python-dotenv
faiss-cpu
urllib3
SQLAlchemy
toml 
six
qdrant-client
dotenv